article.post {
    margin: 5rem auto 3rem;
}

.site-logo-small {
    color: gray;
    font-size: 3.2rem;
}

.micro-date {
    color: #748d9c;
}

@media only screen and (max-width: 420px) {
    header nav .main-menu.label-toggle {
        margin-top: -6rem;
    }
}
