<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>$title$</title>
        <link rel="stylesheet" type="text/css" media="all" href="https://cdn.jsdelivr.net/npm/github-markdown-css/github-markdown.min.css"  />
        <link rel="stylesheet" type="text/css" media="all" href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release/build/styles/github.min.css"  />
        <link rel="stylesheet" href="/css/default.css" />
        <link rel="stylesheet" href="/css/custom.css" />
        <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
        <style>
         body { box-sizing: border-box; max-width: 740px; width: 100%; margin: 40px auto; padding: 0 10px; }
        </style>
        <script src='https://cdn.jsdelivr.net/gh/highlightjs/cdn-release/build/highlight.min.js'></script>
        <script>
         document.addEventListener('DOMContentLoaded', () => { document.body.classList.add('markdown-body'); document.querySelectorAll('pre[lang] > code').forEach((code) => { code.classList.add(code.parentElement.lang); }); document.querySelectorAll('pre > code').forEach((code) => { hljs.highlightBlock(code); }); });
        </script>
    </head>
    <body>

        <main role="main" class="page-width">
            <article class="post">
            $body$
            </article>
        </main>

        <footer class="page-width">
            <hr />
            <nav>
                <div class="menu-footer-menu-container">
                    <ul class="menu">
                        <li class="menu-item">
                            © 2020 <a target="_blank" href="/">Kaushik Chakraborty</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </footer>
    </body>
</html>
